# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.gradle/
build/
bin/
out/
.gradle-test-report/

target/
site/
serenity/
.serenity/
test-output/

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
.nbworkspace
.history/

*.log
.DS_Store
.Thumbs.db

.env
*.properties
!serenity.properties
drivers/
*.exe
*.dll

app/target/site/serenity/